body {
    margin: 0;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;
}
.container {
    background: rgba(255,255,255, 0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    font-size: 32px;
}
.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
.input {
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, 0.736);
    border-color: rgba(255,255,255,.5);
    color: darkgreen;
    font-size: 18px;
}
.input::placeholder{
    color:darkgray;
}
#btnclear{
    padding: 10px  50px;
    border: 2rem;
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px;
    color: darkgreen;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#btn{
    
   
    display: flex;
    justify-content: right;
    width: 100%;
}














